{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
